body{
    background-color:rgb(223, 187, 207);
    color: black;
    
}

h1{
    text-align: center;
    text-decoration: underline black;
    color: rgb(16, 15, 15);
}

input[type=search]{
    border: 2px solid white;
    border-radius: 0.5rem;
    height: 5vh;
    width: 20vw;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}
input[type=search]:hover{
    background-color: rgb(223, 187, 207);
}


input[type=submit]{
    border: 2px solid rgb(223, 187, 207);
    border-radius: 0.5rem;
    height: 5vh;
    width: 10vw;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}
input[type=submit]:hover{
    background-color: rgb(246, 119, 189);
}

table{
    border: 2px solid white;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    background-color: white;
    margin-bottom: 10px;
}
th,td{
    border: 1px solid black;
    text-align: center;
}
th,td :hover{
    background-color:rgb(223, 187, 207);
}
button[type=button]{
    border: 2px solid rgb(223, 187, 207);
    border-radius: 0.5rem;
    height: 8vh;
    width: 10vw;
    font-size: 15px;
}
button[type=button]:hover{
    background-color: rgb(246, 119, 189);
}

a{
    text-decoration: none;
    color: black;
}